@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Merriweather, Georgia, serif;
  font-size: .95em;
  display:grid;
  height: 100vh;
  align-items: center;
  justify-items: center;
}

h1 {
  margin: 1rem;
  font-size: 1.5em;
  color: navy;
}

form {
  width: 600px;
  margin: 0 auto;
  padding: 1.5rem;
  border: 1px solid rgba(0, 0, 0, .1);
  background-color: #eee;
  border-radius: .25rem;
}


label {
  display: block;
  margin-bottom: .5rem;
}

input,
select,
textarea {
  padding: .5rem;
  font-size: 1.1rem;
  width: 100%;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  text-align: right;
  vertical-align: bottom;
}

button {
  margin: 1rem auto;
  border: none;
  border-radius: .5rem;
  padding: 1rem 2rem;
  width: 100%;
  background-color: navy;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 1.6pt;
}

code {
  display: block;
  width: 75%;
  margin: 0 auto 1rem;
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 1rem;
  background-color: #333;
  color: #fff;
}

.question {
  margin: 1rem 0;
}

.qnum {
  font-size: 1.2rem;
  font-weight: 700;
  color: navy;
}



