@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

header, .grid, footer {
  max-width: 840px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  background-color: navy;
}

nav a {
  flex: 1 1 auto;
  color: white;
  display: block;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  background-color: #333;
}

main {
  max-width: 900px;
  grid-column: 2 / 3;
}

aside {
  text-align: center;
  grid-row: 1;

}

aside img {
  width: 100px;
  height: auto;
}

li {
  margin-bottom: 1rem;
}


footer {
  margin: 10px auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: #bbb;
}

footer p {
  text-align: center;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 1);
}

/* Class Selectors */
.grid {
  display: grid;
  grid-gap: 1rem;

}

.box {
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background-color: #eee;
  color: #000;
}

.indent {
  padding-left: 2rem;
}